html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  a[href="#top"] {
    margin: 1rem;
    display: block;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
  }

  p {
    margin: 0;
  }

  h2 {
    margin-top: 50vh;
    text-align: center;
  }

  img {
    margin: auto;
    display: block;
    max-width: 100%;
    height: auto;
  }

  .menu {
    margin-bottom: 100vh;
    font-size: 125%;
  }

  .menu li {
    margin-bottom: 1rem;
  }

.container {
    margin: 0 auto;
    width: 80%;
    height: 80vh;
    background-color: #222;
    border: medium solid #000;
}

.item {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #666;
    border: medium solid #999;
}



/**************************** Grid Explicita *****************************/
.grid-explicit {
    display: grid;
    /*Grid de 3cx3r*/
    grid-template-columns: 50% 100px 1fr;
    grid-template-rows: 2rem 20vh 30%;

    /*Grid de 5cx4r*/
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(4, auto);

    grid-template-columns: repeat(5, 1fr); /*fr=fraccion => si no hay espacio sobrante lo divide en partes iguales */
    grid-template-rows: repeat(4, 1fr);

    /*Grid de 4cX5r*/
    grid-template-columns: 20% repeat(2, 30%) 20%;
    grid-template-rows: repeat(5, auto); /*auto se adapta a su contenido*/

    grid-column-gap: 2rem; /*medida de lineas de separacion*/
    grid-row-gap: 1rem;
    grid-gap: 1rem 0; /*atajo (LineaFila, LineaColumna*/

    row-gap: 1rem;
    column-gap: 1rem;
    gap: 1rem 0; /*atajo (LineaFila Row, LineaColumna Column*/
    gap: 0;
}

.grid-explicit .item:nth-child(10){
    color: cyan;

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    /* Atajo */
    grid-row: 2/3;
    grid-column: 3/5;

    /* Atajo */
    grid-area: 2/3/3/5; /*grid-row-start/grid-row-end/grid-column-start/grid-column-end*/
}

.grid-explicit .item:nth-child(12){
    color: cyan;
    grid-row: span 2; /*de donde estas ocupa 2 filas*/
    grid-column: span 3; /*de donde estas ocupa 3 columnas*/
}

.grid-explicit .item:nth-child(15){
    color: cyan;
    grid-row: 1 / span 2; /*Empieza de posicion 1 de fila y ocupa 2 filas*/
    grid-column: 1 / span 2; /*Empieza de posicion 1 de columna y ocupa 2 columna*/
}


/**************************** Grid con Nombres de Linea *****************************/
.grid-line-names {
    display: grid;

    /*Grid de 3cx3r*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-template-columns: [linea-c1] 1fr [linea-c2] 1fr [linea-c3] 1fr [linea-c4];
    grid-template-rows: [linea-r1] 1fr [linea-r2] 1fr [linea-r3] 1fr [linea-r4];

    grid-template-rows: [linea-r1] auto [linea-r2] auto [linea-r3] auto [linea-r4];
}

.grid-line-names .item:nth-child(3){
    color: cyan;
    grid-row: linea-r3 / linea-r4;
    grid-column: linea-c1 / linea-c4;
    /*Grid area no funciones con este metodo*/
}


/**************************** Grid con Area *****************************/
.grid-areas {
    display: grid;
    /*Grid de 2cx3r*/
    grid-template-columns: 1fr 200px;
    grid-template-rows: 100px repeat(2, 1fr) 60px;

    grid-template-areas: 
        "header   header"
        "content  sidebar"
        "content  ." /*Punto representa, deja esa celda vacia*/
        "footer   footer"
    ;
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
}